.card{
   
    border:none;
    width:50vw;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    border-radius: 44px;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(20, 19, 19)0%,rgb(35 60 185)100%);
}
.card  h1,h6{
    color:wheat;
}
label{
    color: wheat;
}

.image {
    height: 45.5em;
    background-size: cover;
    width: auto;
  
    background-image: url('/assets/images/reg.webp');
    /*background-position:50% 50%;*/
  }
